:root {
  --primary-color: #4f46e5; /* Slightly darker than the dark mode primary */
  --secondary-color: #818cf8; /* Softer shade for secondary elements */
  --background-color: #f8fafc; /* Light, almost white, for the background */
  --text-color: #1e293b; /* Dark, easily readable text color */
  --accent-color: #06b6d4; /* Vivid, bright accent color */
  --code-background: #e2e8f0; /* Light gray for code blocks */
  --section-background: #ffffff; /* Pure white for sections */
  --border-color: #cbd5e1; /* Light gray for borders */
}

:root.dark-mode {
  --primary-color: #6366f1;
  --secondary-color: #a5b4fc;
  --background-color: #0f172a;
  --text-color: #e2e8f0;
  --accent-color: #22d3ee;
  --code-background: #1e293b;
  --section-background: #1e293b;
  --border-color: #334155;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}
